@model IEnumerable<WebApplication.Models.BackgroundImage>
<div id="BackgroundPartial">
    <table class="table ">
        <tr style="">
            <th>
               Page
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PicturePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TitleColor)
            </th>
            
            <th></th>
        </tr>

        <tr>
            <td>About Us</td>
            <td>
                <img src='~/Images/backgrounds/PagesWallpapers/@(string.Format("{0}_S.{1}",  Model.Single(e => e.Id == 1).PicturePath, Model.Single(e => e.Id == 1).Extention))'>
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Single(e => e.Id == 1).TitleColor)
            </td>
            <td>
                <a id="EditeClick" data-id="1" class="btn btn-info  edite clickedit"><i class="fa fa-pencil "></i> Edit </a>
              
            </td>
        </tr>
        <tr>
            <td>Contact Us</td>
            <td>
                <img src='~/Images/backgrounds/PagesWallpapers/@(string.Format("{0}_S.{1}", Model.Single(e => e.Id == 2).PicturePath, Model.Single(e => e.Id == 2).Extention))'>
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Single(e => e.Id == 2).TitleColor)
            </td>
            <td>
                <a id="EditeClick" data-id="2" class="btn btn-info  edite clickedit"><i class="fa fa-pencil "></i> Edit </a>

            </td>
        </tr>
        <tr>
            <td>Careers</td>
            <td>
                <img src='~/Images/backgrounds/PagesWallpapers/@(string.Format("{0}_S.{1}",  Model.Single(e => e.Id == 3).PicturePath, Model.Single(e => e.Id == 3).Extention))'>
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Single(e => e.Id == 3).TitleColor)
            </td>
            <td>
                <a id="EditeClick" data-id="3" class="btn btn-info  edite clickedit"><i class="fa fa-pencil "></i> Edit </a>

            </td>
        </tr>

    </table>
</div>
