@model IEnumerable<WebApplication.Models.CompanyProfile>
@{
    ViewBag.Title = "_CompanyProfilePartial";
}
<div id="companyprofile">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SectionName)
            </th>           
            <th>
                Actions
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SectionName)
                </td>
                <td>
                    <button id="Details" data-id="@item.Id" class="btn btn-success btndetails"><i class="fa fa-fire"></i>Details</button>
                    <button id="Edit" data-id="@item.Id" class="btn btn-info btnedite"><i class="fa fa-edit"></i>Edit</button>                    
                    <button id="Delete" data-id="@item.Id" class="btn btn-danger clickdelete"><i class="fa fa-trash"></i>Delete</button>

                </td>
            </tr>
        }

    </table>

</div>