@using WebApplication.Models
@model IEnumerable<WebApplication.Models.HomeImage>

<div id="HomePartial">
    <table class="table table-bordered">
        <tr style="">
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PicturePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <img src='~/Images/backgrounds/SmallBackGround/@(string.Format("{0}_S.{1}",item.PicturePath,item.Extention))'>
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => item.IsActive, new { @class = " flat ", @disabled = "disabled" })
                </td>
                <td>
                    @*<a id="ViewClick" data-id="@item.Id" class="btn btn-success  clickview"><i class="fa fa-fire"></i> Details </a>*@
                    <a id="EditeClick" data-id="@item.Id" class="btn btn-info  edite clickedit"><i class="fa fa-pencil "></i> Edit </a>
                    <a id="DeleteClick" data-id="@item.Id" class="btn btn-danger  clickdelete"><i class="fa fa-trash-o"></i> Delete </a>
                </td>
            </tr>
        }

    </table>
</div>