@using WebApplication.Models
@model IEnumerable<WebApplication.Models.Project>
<div id="ProjectPartial">
    <table id="datatable" class="table ">
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Location</th>
                <th>Area</th>
                <th>Client</th>
                <th>Logo</th>
                <th>Category</th>
                <th>SubCategory</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Project item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Location)</td>
                    <td>@Html.DisplayFor(modelItem => item.Area)</td>
                    <td>@Html.DisplayFor(modelItem => item.Client)</td>
                    <td><img src='~/Images/Logo/@item.LogoPath'></td>
                    <td>@Html.DisplayFor(modelItem => item.Category.Name)</td>
                    <td>
                        @if (item.SubCategory != null)
                {
                            @Html.DisplayFor(modelItem => item.SubCategory.Name)
                        }
                    </td>
                    <td>
                        <a id="ViewClick" data-id="@item.Id" class="btn btn-primary  clickview"><i class="fa fa-fire"></i> Details </a>
                        <a id="EditeClick" data-id="@item.Id" class="btn btn-info edite clickedit"><i class="fa fa-pencil "></i> Edit </a>
                        <a id="DeleteClick" data-id="@item.Id" class="btn btn-danger  clickdelete"><i class="fa fa-trash-o"></i> Delete </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>