@model IEnumerable<WebApplication.Models.CompanyProfile>

@{
    ViewBag.Title = "CompanyProfile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-title">
    <div class="title_left">
        <h4>Company Profile</h4>
    </div>
    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
                <span>
                    <button type="button"  id="Add" class="btn btn-success btn-sm add"><i class="fa fa-plus"></i> Add New Content</button>
                </span>
            </div>
        </div>
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SectionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SectionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                <button id="Edit" class="btn btn-primary" ><i class="fa fa-edit"></i>Edit</button>
                <button id="Details" class="btn btn-success"><i class="fa fa-fire"></i>Details</button>
                <button id="Delete" class="btn btn-danger "><i class="fa fa-trash"></i>Delete</button>

            </td>
        </tr>
    }

</table>
<script>
    $(document).ready(function () {
        $("#Add").click(function () {
            document.location = '@Url.Action("AddProfile", "Admin")';
        });
    });

    $(document).ready(function () {
        $("#Edit").click(function () {
            document.location = '@Url.Action("EditProfile", "Admin")';
        });
    });

    $(document).ready(function () {
        $("#Details").click(function () {
            document.location = '@Url.Action("ProfileDetails", "Admin")';
        });
    });

    $(document).ready(function () {
        $("#Delete").click(function () {
            document.location = '@Url.Action("DeleteProfile", "Admin")';
        });
    });

</script>