@model WebApplication.Models.TeamMember

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MemberDetails</title>
</head>
<body>
    <div>
        <h4>TeamMember</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Position)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Position)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PicturePath)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PicturePath)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Details)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Details)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CvPath)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CvPath)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "EditMember", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "TeamMembers")
    </p>
</body>
</html>
