@model WebApplication.Models.CompanyProfile

@{
    ViewBag.Title = "ProfileDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>ProfileDetails</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SectionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditProfile", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "~/Admin/CompanyProfile")
</p>
