@model IEnumerable<WebApplication.Models.TeamMember>

@{
    ViewBag.Title = "TeamMembers";
}

<h2>TeamMembers</h2>

<p>
    @Html.ActionLink("Create New", "AddMember")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PicturePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CvPath)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PicturePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CvPath)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditMember", new { id=item.Id }) |
            @Html.ActionLink("Details", "MemberDetails", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteMember", new { id=item.Id })
        </td>
    </tr>
}

</table>
