@model WebApplication.Models.SocialLink
<div class="mb-social">
    <a href="@Model.Facebook"><i class="fa fa-facebook"></i></a>
    <a href="@Model.GooglePlus"><i class="fa fa-google-plus"></i></a>
    <a href="@Model.Instgrame"><i class="fa fa-instagram"></i></a>
    <a href="@Model.LinkedIn"><i class="fa fa-linkedin"></i></a>
    <a href="@Model.pinterest"><i class="fa fa-pinterest"></i></a>
</div>
