@model WebApplication.Models.ContactViewModel
@{
    Layout = "~/Views/Shared/_BasicHomeLayout.cshtml";
}

<div id="header">
    <header>
        <h1>Contact</h1>
    </header>
</div>
<div class="section  parallax"  data-stellar-background-ratio="0.5"  data-stellar-vertical-offset="-150" style="background-image: url('/Images/backgrounds/bg-img-2.jpg')/*opacity: 0.5*/;/*height: 100vh;*/">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="margin-btm-md">Leave us a message</h4>
                    @*<form role="form" action="@Url.Action("Index")" class="contact-form validation-engine ajax-send">*@
                    @using (Ajax.BeginForm("Index", new { }, new AjaxOptions(), htmlAttributes: new { @class = "contact-form validation-engine ajax-send" }))
                    {
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label class="sr-only" for="Message.Name">Name *</label>
                                <input type="text" name="Message.Name" class="form-control validate[required]" id="Message.Name" placeholder="Name *">
                            </div>
                            <div class="col-sm-12 form-group">
                                <label class="sr-only" for="Message.From">Email *</label>
                                <input type="email" name="Message.From" class="form-control validate[required,custom[email]]" id="Message.From" placeholder="Email *">
                            </div>
                            <div class="col-sm-12 form-group">
                                <label class="sr-only" for="Message.Subject">Subject</label>
                                <input type="text" name="Message.Subject" class="form-control" id="Message.Subject" placeholder="Subject">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="Message.Message">Message</label>
                            <textarea name="Message.Message" class="form-control validate[required]" rows="7" id="Message.Message" placeholder="Message"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default btn-wide">Send</button>
                            <span class="loading-spinner" style="display: none;"></span>
                        </div>
                    }

                    @*</form>*@

                </div>
                <div class="col-md-6">
                    <h4 class="margin-btm-md">Information</h4>
                    <div class="col-md-6">
                        <h5 class="margin-btm-md">UAE DUBAI</h5>
                        <p class="address-block">
                            @Model.ContactUs.AddressUAE
                        </p>
                        <p class="phone-block">
                            Phone: @Model.ContactUs.TelephoneUAE <br/>
                            Fax: @Model.ContactUs.FaxUAE<br/>
                            Mobile: @Model.ContactUs.MobileUAE
                        </p>
                        <p class="email-block">
                            <a href="mailto:@Model.ContactUs.MailUAE">@Model.ContactUs.MailUAE</a>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h5 class="margin-btm-md">Egypt</h5>
                        <p class="address-block">
                            @Model.ContactUs.AddressEgy
                        </p>
                        <p class="phone-block">
                            Phone: @Model.ContactUs.TelephoneEgy <br />
                            Fax: @Model.ContactUs.FaxEgy<br />
                            Mobile: @Model.ContactUs.MobileEgy
                        </p>
                        <p class="email-block">
                            <a href="mailto:@Model.ContactUs.MailEGY">@Model.ContactUs.MailEGY</a>
                        </p>
                    </div>
                
                </div>
            </div>
        </div> <!-- container -->
    </section>
</div> <!-- section -->
<div id="footer" class="are-you-ready-type">
    <footer>
        <h2 data-animate="lightSpeedIn">ARE YOU READY TO WORK WITH US?</h2>
        <div class="text-center">
            <a href="@Url.Action("Index","Careers")" class="btn btn-primary btn-wide">Join Us</a>
        </div>
    </footer>
</div>
@section links{
    <script src="~/Content/Home/assets/js/vendor/jquery.validationEngine.js"></script>
    <script src="~/Content/Home/assets/js/vendor/jquery.validationEngine-en.js"></script>
}